@import "tailwindcss";

body {
  font-family: 'Montserrat','Open Sans',sans-serif;
  font-size: 18px;
  font-weight: 700;
  text-rendering: optimizeLegibility;


}

/*
button {
  color: #444b5a;
  border: none;
  border-radius: 8px;
  padding: 0.5rem 1rem;
  text-transform: uppercase;
  margin: 5px;
  cursor: pointer;
  transition: all 0.2s ease;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}
*/

button {
  @apply px-2 py-2 text-xs whitespace-nowrap rounded-sm hover:cursor-pointer uppercase 
  sm:px-4 sm:py-2 sm:text-base sm:rounded-sm
  md:px-6 md:py-3 md:rounded-md
}

button:hover {
  filter: brightness(0.95);
}

button:active {
  filter: brightness(0.9);
  transform: translateY(1px);
}

button:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgba(104, 117, 140, 0.3);
}

@keyframes shrink-expand-gray {
    0% {
      transform: scaleY(1);
      background-color: #E4E7EB;
    }
    50% {
      transform: scaleY(0);
      background-color: #E4E7EB;
    }
    100% {
      transform: scaleY(1);
      background-color: #98A1AE;
    }
}

@keyframes shrink-expand-green {
    0% {
      transform: scaleY(1);
      background-color: #E4E7EB;
    }
    50% {
      transform: scaleY(0);
      background-color: #E4E7EB;
    }
    100% {
      transform: scaleY(1);
      background-color: #05df72;
    }
}


@keyframes shrink-expand-orange {
    0% {
      transform: scaleY(1);
      background-color: #E4E7EB;
    }
    50% {
      transform: scaleY(0);
      background-color: #E4E7EB;
    }
    100% {
      transform: scaleY(1);
      background-color: #ffb86a;
    }
}


.popup-fade {
  animation: popup-fade-in 0.2s ease-out;
}

@keyframes popup-fade-in {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}