<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">  
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Wordle</title>
    <script type="module" crossorigin src="/assets/index-CmnPZgux.js"></script>
    <link rel="stylesheet" crossorigin href="/assets/index-CZwUWTZp.css">
  </head>
  <body>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&family=Open+Sans:wght@400;600&display=swap" rel="stylesheet">

    <script type="text/javascript" th:inline="javascript">
    /*<![CDATA[*/
      window.__SESSION_DATA__ = [[${mySession}]];
    /*]]>*/
    </script>
    
    <div id="root"></div>

  </body>
</html>
